{% extends 'base.html' %} {% block content %}
<h2>Resumen Fase {{ fase }}</h2>
<table>
  <thead>
    <tr>
      <th>Campo formativo</th>
      <th>Contenidos</th>
      <th>PDAs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for r in datos %}
    <tr>
      <td>{{ r['campo_nombre'] }}</td>
      <td>{{ r['num_contenidos'] }}</td>
      <td>{{ r['num_pdas'] }}</td>
      <td>
        <a
          href="{{ url_for('contenidos_por_campo', campo_id=r['campo_id'], fase=fase) }}"
          >Ver</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
